<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<div class="popup" th:fragment="popup">
    <div class="inner">
        <span class="close">×</span>
        <span class="icon"><img src="/images/uploadIcon.png" alt=""></span>
        <form>
            <fieldset>
                <legend>동영상 업로드</legend>
                <div class="input_row">
                    <label>제목 </label><input type="text">
                </div>
                <div class="input_row">
                    <label>파일첨부 </label><input type="file">
                </div>
                <a href="#" class="ok">확인</a>
            </fieldset>
        </form>
    </div>
</div>

</html>